<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.moreoptions.shopping" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <permission android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".MoreOptionsApplication"
        android:allowBackup="false"
        android:icon="@mipmap/options_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <receiver
            android:name="com.leanplum.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <service android:name="com.leanplum.LeanplumPushService" />

        <activity
            android:name=".ThroughResultsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.leanplum.LeanplumPushService" />

        <service android:name=".core.ReadDataService"
            android:label="@string/accessibility_query_window_description"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/read_data_config" />
        </service>

        <service
            android:name=".core.FloatingHeadService"
            android:exported="false"/>
        <!--DO NOT TOUCH THIS : let the key be here if you will move it will not build rahul has tried this-->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="5fe023d4d48aeb561524bb3c9a54406f1f90a8e6" />
    </application>

</manifest>
